.container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #ccc;
  }
}
