.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: $globalBackgroundImage;

  .content {
    box-sizing: border-box;
    border: 1px solid #aaa;
    position: relative;
    video {
      object-fit: cover;
      z-index: 1;
    }
    .barrageBox {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: 2;
    }
    button {
      position: absolute;
      right: -80px;
      bottom: 0;
    }
  }

  .bottomBox {
    margin-top: 10px;
    display: flex;
    input {
      width: 520px;
    }
    button {
      margin-left: 12px;
    }
  }
}
