.container {
  button {
    width: 160px;
    height: 48px;
    border: 0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(to right, #C635FE 50%, $buttonColor 50%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: all 0.5s ease;

    &:hover {
      background-position: 0% 0%;
    }
  }
}
