.container {
  button {
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 !important;
    border-radius: 10px;
    background-color: #35a2fd;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: border-radius 1s;
    -webkit-transition: border-radius 1s;

    &:hover {
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
    }
  }
}
