.container {
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #001529ee, #001529);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  .top {
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 60px;
    button {
      margin-bottom: 0 !important;
    }
  }

  .menuLabel {
    width: 140px;
    margin-bottom: 0;
  }

  :global {
    .ant-menu {
      .ant-menu-submenu-title {
        border-radius: 0 !important;
      }
      .ant-menu-item {
        border-radius: 0 !important;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    background-color: #444444;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: #999999;
  }

  .bottom {
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0 auto;
    color: #bbb;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    span{
      margin: 2px 0;
    }
  }
}
