.container {
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #001529ee, #001529);
  overflow-x: hidden;
  overflow-y: auto;

  .top {
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 60px;
    button {
      margin-bottom: 0 !important;
    }
  }

  .menuLabel {
    width: 140px;
    margin-bottom: 0;
  }

  :global {
    .ant-menu {
      .ant-menu-submenu-title {
        border-radius: 0 !important;
      }
      .ant-menu-item {
        border-radius: 0 !important;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    background-color: #444444;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: #999999;
  }
}
