.container {
  width: 100%;
  // height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 60px;
  position: relative;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 900px;
    .card {
      width: 150px;
      height: 208px;
      margin: 20px;
      transform: rotateY(0);
      transition: 0.3s;
      border-radius: 6px;
      border: 5px solid #fff;
      cursor: pointer;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: rotateY(0) scale(1.25) !important;
        box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
        & ~ .card {
          transform: rotateY(-25deg);
        }
      }
    }

    &:hover {
      .card {
        transform: rotateY(25deg);
      }
    }
  }
}
