.container {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  :global {
    $primaryColor: #2320e5;
    $primaryShallowColor: #a3d5f3;
    $newBgWidth: 16px;
    .tabs-tabItem {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 20px;
      font-size: 15px;
      line-height: 16px;
      color: #333;
      font-family: SourceHanSansCN-Medium !important;
      font-weight: 500;
      background-color: $primaryShallowColor;
      cursor: pointer;
      position: relative;
    }
    .tabText{
      z-index: 2;
    }
    .isNew{
      position: absolute;
      right: 0;
      top: 0;
      border-top: $newBgWidth #ce0b0b solid;
      border-right: $newBgWidth #ce0b0b solid;
      border-left: $newBgWidth transparent solid;
      border-bottom: $newBgWidth transparent solid;
      width: 0;
      height: 0;
      z-index: 1;

      &::after{
        content: "New";
        position: absolute;
        top: -12px;
        right: -18px;
        font-size: 12px;
        color: #ffffff;
        transform: rotate(45deg) scale(0.7);
      }
    }
    .active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
