.container {
  $height: 400px;
  width: 100%;
  height: $height;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: transform 0.8s;
    z-index: 1;
  }

  .glass {
    position: absolute;
    width: 517px;
    height: 330px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    backdrop-filter: blur(2px) url(#glassFilter2);
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
