.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0 60px;
  position: relative;

  .title {
    font-size: 30px;
    font-family: "SourceHanSansCN-Bold" !important;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
