.container {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  :global {
    $primaryColor: #2320e5;
    $primaryShallowColor: #a3d5f3;
    .tabs-tabItem {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 20px;
      font-size: 15px;
      line-height: 16px;
      color: #333;
      font-family: SourceHanSansCN-Medium !important;
      font-weight: 500;
      background-color: $primaryShallowColor;
      cursor: pointer;
    }
    .active {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
