.container {
  display: flex;
  width: 100%;
  height: 150px;
  min-height: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  p {
    width: 560px;
    margin-top: 0;
    margin-right: 80px;
  }
  .adLogo {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 80px;
    height: 21px;
    opacity: 0.6;
    object-fit: cover;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
