.container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 0 auto;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 200px; /* control the size */
      aspect-ratio: 1;
      object-fit: cover;
      transition: 0.35s;
      filter: grayscale(1);
      cursor: pointer;

      &:nth-child(1) {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
      }
      &:nth-child(2) {
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
      &:nth-child(3) {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
      }
      &:nth-child(4) {
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
      }
      &:nth-child(5) {
        clip-path: polygon(50% 0, 100% 100%, 0% 100%);
      }
      &:nth-child(6) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
      }

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
