.container {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 44px;
    font-weight: 500;
    height: 54px;
    line-height: 48px;
    text-align: center;
    white-space: nowrap;
  }

  .btn {
    margin-top: 80px;
  }
}
