.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: $globalBackgroundImage;
  padding: 0 2px 4px;

  .box {
    background-color: #000c17dd;
    border: 3px solid #35a2fd44;
    border-radius: 10px;
    overflow: hidden;
    margin: 4px 2px;

    .echart {
      width: 100%;
      height: 520px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to right, #04182c, #000c17, #04182c);
    }
  }
}
