.container {
  button {
    width: $dynamicButtonsWidth;
    height: $dynamicButtonsHeight;
    border: 1px solid;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: #4cc9f0;
    border-color: #4cc9f0;

    &:hover {
      border: 0;
      background-color: #4cc9f0;
      color: #ffffff !important;
      -webkit-box-shadow: 10px 10px 99px 6px #4cc9f0;
      -moz-box-shadow: 10px 10px 99px 6px #4cc9f0;
      box-shadow: 10px 10px 99px 6px #4cc9f0;
    }
  }
}
