.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  display: flex;
  background-image: $globalBackgroundImage;
  padding: 2px 4px 4px;

  .box {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000c17dd;
    border: 3px solid $buttonColor2;
    border-radius: 10px;
    overflow: hidden;
  }

  .box1 {
    .btn {
      width: $dynamicButtonsWidth;
      height: $dynamicButtonsHeight;
      margin: 20px;

      button {
        .btnText {
          font-size: 22px;
          font-weight: 400 !important;
        }
      }
    }
  }
}
