.container {
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-size: 200% 600%;
  background-image: radial-gradient(
    closest-side,
    #d628fe 6%,
    #35a2fd 50%,
    #d628fe 100%
  );
  background-position: 0% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
}
