.container {
  min-width: 1000px;
  max-width: 1350px;
  display: flex;
  flex-direction: column;

  $primaryColor: #0e5e6f;
  $primaryShallowColor: #3a8891;
  $dotWidth: 6px;

  .imgBox {
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px dashed;
    border-radius: 4px;

    .content {
      display: flex;
      overflow: hidden;
      border: 1px solid #111;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-user-drag: none !important;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  .operationBtns {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 1014px;
      .operationBtn {
        margin-right: 12px;
        font-family: SourceHanSansCN-Medium !important;
        font-weight: 500;
        border-radius: 4px;
        margin-top: 10px;
      }
      :global {
        .ant-checkbox-wrapper {
          margin-top: 10px;
        }
        .ant-btn {
          margin-top: 10px;
          background-color: $primaryShallowColor !important;
        }
        .ant-space-compact {
          margin-top: 10px;
          height: 36px !important;
          margin-right: 10px;
          .ant-space-addon {
            height: 100% !important;
            color: #333333;
            .ant-input-number {
              height: 100% !important;
              margin-top: 0 !important;
              .ant-input-number-input-wrap {
                height: 100% !important;
                input {
                  height: 100% !important;
                }
              }
            }
          }
        }
      }
    }
    .right {
      width: 64px;
      margin-top: 10px;
      border: 1px solid $primaryShallowColor !important;
      span {
        color: $primaryShallowColor !important;
      }
    }
  }
}
