.container {
  height: 240px;
  display: flex;
  align-items: center;

  $borderWidth: 6px;

  .circle {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $borderWidth solid #191919;
    border-radius: 50%;
    margin-right: 30px;
    user-select: none;
    position: relative;

    svg {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      top: -$borderWidth;
      left: -$borderWidth;
      transform: rotate(-90deg);

      circle {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke-width: $borderWidth;
        stroke-dasharray: 471;
      }
    }
  }

  .hour {
    svg {
      circle {
        stroke: #ff2972;
      }
    }
  }

  .minutes {
    svg {
      circle {
        stroke: #fee800;
      }
    }
  }

  .seconds {
    svg {
      circle {
        stroke: #04fc43;
      }
    }
  }

  .text {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    width: 66px;
    text-align: center;
    color: #cccccc;
    left: 0;
    right: 0;
    bottom: 22px;
    margin: 0 auto;
  }

  .ap {
    font-size: 20px;
    font-weight: 500;
    height: 150px;
  }
}
