$globalPrimaryColor: #4c78fc;
$globalPrimaryColor2: #224141;
$buttonColor: #35a2fd;
$buttonColor2: #35a2fd44;
$headHeight: 60px;
$globalBackgroundImage: linear-gradient(135deg, #224141, #162a2a);
$globalBackground: linear-gradient(
  135deg,
  #112437,
  #1d3450,
  #29588a,
  #116d6e,
  #5c8984,
  #47a992
);
$dynamicButtonsWidth: 160px;
$dynamicButtonsHeight: 48px;
