$globalPrimaryColor: #4c78fc;
$globalPrimaryColor2: #224141;
$buttonColor: #35a2fd;
$buttonColor2: #35a2fd44;
$headHeight: 60px;
$globalBackgroundImage: linear-gradient(135deg, #224141, #162a2a);
$dynamicButtonsWidth: 160px;
$dynamicButtonsHeight: 48px;
