.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: linear-gradient(135deg, #224141, #162a2a);
  padding: 4px;

  .box {
    background-image: linear-gradient(to right, #04182c, #000c17, #04182c);
    border: 3px solid $buttonColor2;
    border-radius: 10px;
    overflow: hidden;
    margin: 4px 2px;
    display: flex;
  }
}
