.container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .title {
    font-size: 20px;
    font-family: "SourceHanSansCN-Bold" !important;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  .content {
    display: flex;
    align-items: center;
    width: 500px;
    .audio {
      width: 340px;
      height: 50px;
    }
    button {
      margin: 0 10px;
    }
  }
}
